@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Quando&display=swap');
@import "tailwindcss";

/* FONTS */
.font-gameloom {
    font-family: "Quando", "Poppins", serif;
  }
  .font-heading {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: normal;
  }
  .font-body {
    font-family: "Poppins", "Quando", serif;
    font-weight: 400;
  }
  
  /* TEXT & LINKS */
  .nav-link {
    position: relative;
    padding: 18px;
  }
  .nav-link:hover {
    background-color: #1a1a1a;
    border-radius: 8px;
    color: #C8AA6E;
  }
  .nav-link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: #C8AA6E;
    border-radius: 2px;
  }
  .text-gradient {
    background: linear-gradient(135deg, #fff, #fbcea0 66%, #fbcfa0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* ICONS */
  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
  }
  .icon:hover {
    transform: scale(1.1);
  }
  .search-icon {
    cursor: pointer;
  }
  .globe-icon {
    cursor: pointer;
  }
  
  /* BUTTONS */
  .btn-nav {
    margin: 10px;
    padding: 6px 18px;
    text-align: center;
    transition: all 0.3s ease;
    background-size: 200% auto;
    color: white;
    border-radius: 8px;
    display: inline-block;
    background-image: linear-gradient(to right, #6e48aa, #9d50bb);
  }
  .btn-nav:hover {
    background-position: right center;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
  .btn-hero {
    background-color: #c8aa6e;
    color: #0c1a36;
    padding: 15px 30px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    text-transform: uppercase;
    border-radius: 8px;
  }
  .btn-hero:hover {
    background-color: #e2c07b;
    cursor: pointer;
  }
  
  .btn-body {
    margin-top: 15px;
    padding: 6px 18px;
    text-align: center;
    transition: all 0.3s ease;
    background-size: 200% auto;
    color: white;
    border-radius: 8px;
    display: inline-block;
    background-image: linear-gradient(to right, #6e48aa, #9d50bb);
  }
  
  .btn-body:hover {
    background-position: right center;
    cursor: pointer;
  }
  
  /* MOBILE NAV TOGGLE */
  .mobile-nav {
    display: none;
  }
  .mobile-nav.open {
    display: block;
  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  .hamburger span {
    height: 3px;
    width: 25px;
    background: #ddd;
    margin-bottom: 4px;
    border-radius: 5px;
  }
  
  /* MEDIA QUERIES */
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
    .desktop-menu {
      display: none;
    }
  }